.wordsLeftPanel {
	.wordsInfo {
		margin-top: 0.5rem;
	}

	.link {
		text-decoration: none;
	}

	.buttonsWrapper {
		display: flex;
		flex-direction: column;
		width: 11rem;
		margin-top: 1rem;

		button {
			width: 100%;

			&:not(:first-child) {
				margin-top: 0.6rem;
			}
		}
	}
}
